[submodule "Paxel/third/spdlog"]
	path = Paxel/third/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Paxel/third/glfw"]
	path = Paxel/third/glfw
	url = https://github.com/glfw/glfw
[submodule "Paxel/third/imgui"]
	path = Paxel/third/imgui
	url = https://github.com/ocornut/imgui
